*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-weight: bold; */
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ebebeb;
}
.container{
    position: relative;
    max-width: 1300px;
    width: 100%;
    /* background: rgb(192, 216, 215); */
    padding: 40px;
}
.container .box{
    padding: 50px 30px;
    overflow: hidden;
}
.img img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    opacity: 0.8;
    border: 3px solid rgb(255, 255, 255);
}
.card{
    position: relative;
    width: 350px;
    height: 350px;
    background: transparent;
    box-shadow: inset 20px 20px 20px rgba(0,0,0,.05),
                      5px 25px 20px rgba(0,0,0,.05),
                      5px 20px 30px rgba(0,0,0,.05),
                inset -20px -20px 25px rgba(255,255,255,.9);
    border-radius: 50% 50% 70% 30% / 45% 61% 39% 55% ;
    /* https://9elements.github.io/fancy-border-radius/#45.50.61.30--. */
    transition: 0.5s ease-in-out;
}
.card:hover{
    border-radius: 50%;
    background: rgba(224, 105, 36, 0.7);
}
.card::before{
    content: '';
    position: absolute;
    width: 35px;
    height: 35px;
    top: 50px;
    left: 65px;
    background: #fff;
    border-radius: 50%;
    opacity: .9;
}
.card::after{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    top: 90px;
    left: 85px;
    background: #fff;
    border-radius: 50%;
    opacity: .9;
}
.card .card-content{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
.card-content .name-profession{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    color: #333;
}
.name-profession .name{
    font-size: 20px;
    font-weight: 600;
}
.name-profession .profession{
    font-size: 15px;
    font-weight: 500;
}
.card-content .rating{
    display: flex;
    align-items: center;
    margin-top: 18px;
}
.card-content .rating i{
    font-size: 22px;
    color: var(--clr);
    opacity: 0.75;
}
.card-content button{
    position: relative;
    padding: 8px 35px;
    background: var(--clr);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 2px 2px rgba(0,0,0,.25);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    opacity: 0.75;
    margin-top: 15px;
}
.card-content button:hover{
    background: rgb(57, 34, 70);
}
.card-content button::before{
    content: '';
    position: absolute;
    top: 5px;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    width: 55%;
    height: 5px;
    background: rgba(255,255,255,.5);
    border-radius: 6px;
}
.box .swiper-button-next,
.box .swiper-button-prev,
.box .swiper-pagination-bullet{
    color: #666;
}

@media (max-width: 1000px){
    .container{
        max-width: 800px;
        width: 90%;
    }
    .card{
        width: 200px;
        height: 200px;
    }
    .name-profession .name{
        font-size: 13px;
    }
    .name-profession .profession{
        font-size: 10px;
    }
    .card-content .rating i{
        font-size: 14px;
    }
    .card-content button{
        font-size: 15px;
        padding: 8px 10px;
    }
    .card::before{
        width: 0;
        height: 0;
    }
}
@media (max-width: 400px){
    .img img{
        width: 50px;
        height: 50px;
    }
    .card{
        width: 100px;
        height: 100px;
    }
    .name-profession .name{
        font-size: 8px;
    }
    .name-profession .profession{
        font-size: 6px;
    }
    .card-content .rating i{
        font-size: 9px;
    }
    .card-content button{
        padding: 2px 4px;
        font-size: 8px;
    }
}